@model WebUI.ViewModels.Campus.CampusesListViewModel

@{
    ViewBag.Title = "Учебные корпуса";
    Layout = "~/Areas/Admin/Views/Shared/_cPanelLayout.cshtml";
}

<h2 class="text-center display-4 my-3 text-white">Учебные корпуса</h2>
<div class="d-flex flex-row justify-content-between">
    <div class="flex-fill align-self-center">
        @Html.ActionLink("Новый корпус", "AddCampus", null, new { @class = "btn btn-success" })
    </div>
    <div class="flex-fill align-self-center">
        @using (Html.BeginForm("Campuses", "Campus", new { search = Model.Search }, FormMethod.Get, new { @class = "input-group", role = "form" }))
        {
            @Html.TextBox("search", Model.Search as string, new { @class = "form-control ml-1", @placeholder = "Поиск учебного корпуса", @autocomplete = "off" })
            <div class="input-group-append">
                <input type="submit" value="Поиск" class="btn btn-info" />
            </div>
        }
    </div>
</div>
@Html.Partial("CampusesCardView")

