@model WebUI.ViewModels.CategoryModel.CategoryViewModel

@{
    ViewBag.Title = "Категория заявки";
    Layout = "~/Areas/ControlPanel/Views/Shared/_ControlPanelLayout.cshtml";
}

<h2 class="text-center text-dark display-4 my-3">@ViewBag.Title</h2>
<h3 class="mt-5 text-dark">Вы уверены, что хотите удалить эту категорию заявок?</h3>
<div>
    <div class="card my-3">
        <div class="card-body bg-white">
            <h4 class="card-title text-dark text-shadow-none">Наименование категории заявок: @Model.Name</h4>
            <p class="card-subtitle mb-2 text-shadow-none text-muted text-dark">Область: @Model.BranchModel.Fullname</p>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить запись" class="btn btn-danger" />
        </div>
    }
</div>

