@model WebUI.ViewModels.ExecutorGroup.ExecutorGroupViewModel

@{
    ViewBag.Title = "Группа исполнителей";
    Layout = "~/Areas/ControlPanel/Views/Shared/_ControlPanelLayout.cshtml";
}

<h2 class="text-center text-dark display-4 my-3">@ViewBag.Title</h2>
<h3 class="mt-5 text-dark">Вы уверены, что хотите удалить эту группу исполнителей?</h3>
<div>
    <div class="card my-3">
        <div class="card-body bg-white">
            <h4 class="card-title text-dark text-shadow-none">Наименование группы исполнителей: @Model.Name</h4>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить запись" class="btn btn-danger" />
        </div>
    }
</div>
