
@{
    ViewBag.Title = "Панель управления";
    Layout = "~/Areas/Admin/Views/Shared/_cPanelLayout.cshtml";
}

<h2 class="text-center text-white display-4 my-3">Панель управления системой <br /> Service Desk</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <h5 class="text-center">Количество объектов системы</h5>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Подразделения
                    <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Сотрудники
                    <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Учетные записи
                    <span class="badge badge-primary badge-pill">1</span>
                </li>
            </ul>
        </div>
    </div>
</div>