@model WebUI.ViewModels.Employee.EmployeesListViewModel

@{
    ViewBag.Title = "Панель управления";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2 class="display-4 text-dark text-center my-3">Сотрудники</h2>

<div class="d-flex">
    <div class="align-self-center">
        @Html.ActionLink("Новая запись", "AddEmployee", null, new { @class = "btn btn-success  text-nowrap" })
    </div>
    <div class="flex-grow-1 align-self-center ">
        @using (Html.BeginForm("Index", "Employee", new { search = Model.Search, subdivision = Model.SubdivisionId }, FormMethod.Get, new { @class = "input-group", role = "form" }))
        {
            @Html.DropDownList("subdivision", new SelectList(ViewBag.Subdivisions, "Id", "Fullname",0), htmlAttributes: new { @class = "form-control w-75  ml-1" })
            @Html.TextBox("search", Model.Search as string, new { @class = "form-control ml-1 w-75", @placeholder = "Поиск сотрудника", @autocomplete = "off" })
            <div class="input-group-append">
                <input type="submit" value="Поиск" class="btn btn-info" />
            </div>
        }
    </div>
</div>
@Html.Partial("EmployeesCardView")
