
@{
    ViewBag.Title = "Панель управления";
    Layout = "~/Areas/ControlPanel/Views/Shared/_ControlPanelLayout.cshtml";
}

    <h2 class="display-4 text-center text-dark mt-3 mb-3">@ViewBag.Title</h2>

