@model WebUI.ViewModels.ContactViewModel

@{
    ViewBag.Title = "CRM ServiceDesk";
    Layout = "~/Views/Shared/_ServiceDeskLayout.cshtml";
}

<div class="d-flex align-items-start min-vh-100 text-center mt-5">
    <div class="container">
        <img src="~/Content/Images/gerb.png" id="gerb-icon" />
        <h1 class="display-2 text-center">Service Desk</h1>
        <h2 class="display-5">Универсальная система службы поддержки пользователей</h2>
        <hr class="my-3">
        <p class="text-wrap">
            Автоматизированная информационная система учета заявок с веб-интерфейсом.
            <br /> Используется для обработки заявок клиентов, простой постановки задач, организации полноценной службы поддержки
        </p>

        <p class="lead">
            @Html.ActionLink("Вход в систему", "Login", "ServiceDesk", null, new { @class = "btn btn-primary btn-lg mt-5 py-3 px-5" })
        </p>
    </div>
</div>