@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Superhero/bootstrap.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Content/sd.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <section id="navigation">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="#">ServiceDesk</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#">
                            <i class="fa fa-home"> Главная страница</i>
                        </a>
                        <a class="nav-item nav-link" href="#">
                            <i class="fa fa-superpowers"> Возможности</i>
                        </a>
                        <a class="nav-item nav-link" href="#">
                            <i class="fa fa-file-pdf-o"> Руководство пользователя</i>
                        </a>
                        <a class="nav-item nav-link" href="#">
                            <i class="fa fa-phone"> Контакты</i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </section>

    <section id="content">
        @RenderBody()
    </section>

    <section id="footer">
        <footer class="footer">
            <div class="container">
                <div class="text-center text-white-50">
                    <i class="fa fa-copyright"> Барановичский государственный университет, 2020</i>

                </div>
            </div>
        </footer>
    </section>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
